.btn {
  margin-top: 20px;
  text-align: center;
  width: 100px;
  height: 36px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
}

/* use -- */
.btn__cancel {
	@extend .btn;
	background-color: rgba(231, 76, 60, 0.65);
}

.btn__rsvp {
	@extend .btn;
	background-color: rgba(52, 152, 219, 0.9);
}

.btn__submit {
  @extend .btn;
  background-color: rgba(41, 128, 185, 0.8);
}

.btn__refresh {
  @extend .btn__submit;
  width: 180px;
}

.btn__survey {
  margin-left: 5px;
  margin-top: 5px;
}

.btn__google {
  margin: auto;
  background: #DD4B39;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-align: left;
  position: relative;
  padding: 0 30px 0 50px;
  line-height: 36px;
  color: white;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 36px;
    height: 100%;
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;    
  }

  a {
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
}

.btn__demo {
  @extend .btn;
  background-color: #2980B9;
  width: 280px;
  padding-left: 12px;
  padding-right: 12px;
  a {
    text-decoration: none;
    &:visited {
      color: white;
    }
  }  
}