$event-box-color: #fbfbfb;
$event-box-border-color: #4c2830;

.content__event-box {
	float: left;
	padding-left: 1.0416%;
	padding-right: 1.0416%;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 18px;
	text-align: center;
}

.content__event-box {
	width: 100%;
}

.content__events__wrap {
	margin-top: 50px;
}

.content__event {
	border: 1px solid $event-box-border-color;
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: left;
  font-size: 15px;
  // line-height: 18px;
  background-color: $event-box-color;
}

.content__event__button {
	// text-align: center;
}

.content__event__name {
  font-weight: bold; 
  // text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

.padding {
	padding-top: 12px;
	padding-bottom: 12px;
}

.content__event__description {
	@extend .padding;
	max-width: 70ch;
  max-height: 300px;
  // min-height: 300px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
}

.content__event__tag {
	@extend .padding;
}

.content__event__price {
	@extend .padding;
}

.content__event__location {
	@extend .padding;
}

.content__event__time {
	@extend .padding;
}

.content__event__numberOfRsvp {
	@extend .padding;
}

.content__event__expectation {
	@extend .padding;
}

.content__event__notice {
	padding-left: 20px;
	color: red;
}

.content__event__commentbox {
	@extend .padding;
	height: 100px;
	width: 100%;
}

.content__event__comment {
	padding-right: 80px;
}

@media only screen and (min-width: 786px) {
	.content__event-box {
		width: 85%;
	}
	.content__event__description {
	  padding-left: 0px;
	  padding-right: 0px;
	}	

	.content__event__tag {
		width: 100px;
		float: left;
	}

	.content__event__price {
		width: 100px;
		float: left;
	}

	.content__event__location {
		width: 180px;
		float: left;
	}
}